.post_first,.post_list,.post_adds{
    padding:0 150px;
}
.smdn-title{
    text-decoration: none !important;
    color:#22134A;
    font-family: 'Sofia Pro Bold';
    text-transform: capitalize;
}
.smdn-description{
    color: #22134A;
    font-family: 'ProximaNova-Semibold';
    font-weight: 500;
}

.smdn-display-name{
    color: #22134A !important;
    font-family: 'Sofia Pro Bold';
    font-weight: 500 !important;
}

a.smdn-title:hover{
    color:#22134A;
}

input.form-control.mr-sm-2.smdn-search{
    border: none;
    border-bottom: 1px solid #22134A;
    background: none;
    margin-top: -12px;
    font-weight: 600;
}

button.btn.btn-outline-success.my-2.my-sm-0.smdn-icon-search {
    background-color: #f1eef5 !important;
    color: #000;
    border-radius: unset;
    border-color: #22134a;
}

.samadhan-pagination{
    text-align: center !important;
    padding: 13px;
    background-color: #DF5E77 !important;
    position: absolute;
    max-width: 100% !important;
    width: 100% !important;
    z-index: 1;
    left: 0;
    margin-top: 30px;
}


span.page-numbers.current {
    padding: 10px 10px;
}

a.next.page-numbers, a.page-numbers {
    padding: 10px 10px;
    color:#fff;
    font-family: 'Sofia Pro Bold';
    font-size:17px;
}

.entry-content.clear {
    margin-bottom: 81px;
}

.form-control{
    color: #495057;
    background-color: #f1eef5;
    border: 1px solid #22134a;
    border-radius: unset;
}

#smdn-form-search{
    text-transform: uppercase;
    color: #22134a;
    font-family: 'Sofia Pro Bold';
}



/*.samadhan-pagination .page-numbers {*/
/*    display: none;*/
/*}*/

/*.samadhan-pagination .next.page-numbers {*/
/*    display: block !important;*/
/*    width: 48%;*/
/*    text-align: left;*/
/*    float: right;*/
/*    margin-top: -20px;*/
/*}*/
/*.samadhan-pagination .prev.page-numbers {*/
/*    display: block !important;*/
/*    width: 48%;*/
/*    text-align: right;*/
/*}*/